BOOK_NAME=""
LAME_PATH="c:\\Program Files (x86)\\Lame"
MAX_BLOCK_SIZE=7800
MAX_WORKER_COUNT=3

GEMINI_API_KEY=

# ElevenLabs / elevenlabs.io ----------------------------------------------
ELEVENLABS_MAX_WORKER_COUNT=1

## Alan - Soft, Hasty and Warm
ELEVENLABS_VOICE_ID=""

ELEVENLABS_API_KEY=""